body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* We should refer to the font-size value given by the browser. Some users customize the browser's font-size. */
  font-size: 62.5%;
}

body {
  padding: 0;
  font-size: $font-size-normal;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}

body .app a {
  color: inherit;
  text-decoration: none;
}

body .app a:focus {
  color: $color-gray-dark;
}

.app {
  padding: 0 2rem;
}

.main {
  padding: 2em 0 10em 0;
}

.pointer {
  cursor: pointer;
}

.max-width {
  width: 100%;
}

.description-placeholder {
  background-color: $color-gray-default;
  margin-bottom: $margin-bottom-content;
  height: .5rem;
}

.author-placeholder {
  background-color: $color-gray-default;
  height: .5rem;
  width: 30%;
}

@media (max-width: 750px) {
  .app {
    padding: 0 .5rem;
  }
}
