body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body { padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  margin-top: 0;
}

a:focus {
  color: gray !important;
}

.app {
  padding: 0 2rem;
}

.main {
  border-top: 1px solid lightgray;
  padding: 1em 0 10em 0;
}

.header {
  margin: 1em 0;
  display: flex;
}

.header .right-side {
  margin-left: auto;
  align-self: center;
}

.header .right-side i {
  color: #D0011B;
  cursor: pointer;
  margin-left: 1rem;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}

.listing {
  padding: 1em 0;
  margin: auto;
  max-width: 800px;
}

.listing a {
  color: inherit;
  text-decoration: none;
}

.listing-item {
  padding: 1em 0;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.listing-item .listing-item-content {
  color: #000000d6;
  margin-left: 1rem;
}

.listing-item .listing-item-content h3 {
  margin-bottom: 1rem;
}

.listing-item .listing-item-content p {
  margin-bottom: 1rem;
}

.author-and-date {
  color: #0000008a;
  font-size: 14px;
  display: flex;
  margin-bottom: 1rem;
}

.author-and-date i {
  padding-right: .4rem;
}

.listing-item .listing-item-content .date i {
  font-size: 14px;
}

.author-and-date span {
  padding-right: .8rem;
  padding-left: .8rem;
}

.listing-item:first-child {
  padding-top: 0;
}

.listing-item:last-child {
  border-bottom: 0;
}

.listing-item img {
  max-width: 300px;
}

.item-details .item-details-placeholder .title-placeholder {
  height: 2rem;
  background-color: #dfdfdf;
  margin-bottom: 2rem;
}

.description-placeholder {
  height: .5rem;
  background-color: #dfdfdf;
  margin-bottom: 1rem;
}

.author-placeholder {
  width: 30%;
  height: .5rem;
  background-color: #dfdfdf;
}

.image-placeholder {
  height: 8rem;
  background-color: #dfdfdf;
}

.listing-item .link-placeholder {
  height: 1rem;
  background-color: #dfdfdf;
  margin-bottom: 1rem;
}

.image-placeholder-large {
  width: 100%;
  height: 20rem;
  background-color: #dfdfdf;
  margin-bottom: 2rem;
}

.max-width {
  width: 100%;
}

.item-details {
  padding-top: 1rem;
}

.item-details .author-and-date {
  margin-bottom: 2rem;
}

.item-details h2 {
  margin-bottom: 1rem;
}

.item-details p {
  margin-bottom: 1rem;
}

.item-details {
  padding-top: 1rem;
}

.item-details .original-source {
  color: #D0011B;
}

.item-details .original-source a {
  color: inherit;
  font-weight: 500;
}

.item-details .content {
  padding: 1em 0 1em 0;
  margin: auto;
  max-width: 680px;
}

.item-details .content img {
  max-width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 750px) {
  .app {
    padding: 0 .5rem;
  }
  .header .right-side {
    margin: auto;
  }
  .listing-item img {
    max-width: 150px;
  }
  .image-placeholder {
    margin-left: 1.5rem;
    height: 4rem;
  }
}

@media (max-width: 480px) {
  .listing-item img {
    max-width: 100px;
  }
}

.go-back {
  cursor: pointer;
  color: #D0011B;
  width: fit-content;
}

.go-back:active {
  opacity: 0.5;
}

.go-back i {
  padding: 0 .3em 0 0;
}

.go-back span {
  font-weight: 500;
  margin-left: .4rem;
}

.listing-info {
  text-align: center;
}

.updated-at {
  font-size: 14px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
