// Colors
$color-gray-dark: #0000008A;
$color-gray-default: #DFDFDF;
$color-gray-light: #D3D3D3;
$color-primary: #D0011B;

// Margins
$margin-left-icon: 1rem;
$margin-bottom-content: 1rem;

// Fonts
$font-size-small: 1.4rem;
