.header {
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  padding: 1.4rem 0;

  .header__right-side {
    align-self: center;
    margin-left: auto;

    i {
      color: $color-primary;
      margin-left: $margin-left-icon;
    }

    .header__updated-at {
      font-size: $font-size-small;
    }
  }
}

@media (max-width: 750px) {
  .header {
    .header__right-side {
      margin: auto;
    }
  }
}
