.main {
  padding: 2em 0 10em 0;
}

.description-placeholder {
  background-color: $color-gray-default;
  height: .5rem;
  margin-bottom: $margin-bottom-content;
}

.author-placeholder {
  background-color: $color-gray-default;
  height: .5rem;
  width: 30%;
}
