.header {
  border-bottom: 1px solid $color-gray-light;
  display: flex;
  padding: 1.4rem 0;

  @include respond(tab-port) {
    &__right-side {
      margin: auto;
    }
  }

  &__right-side {
    align-self: center;
    margin-left: auto;

    i {
      color: $color-primary;
      margin-left: $margin-left-icon;
    }
  }

  &__updated-at {
    font-size: $font-size-small;
  }
}
