.app {
  padding: 0 2em;
}

.main {
  border-top: 1px solid lightgray;
  padding: 1em 0;
}

.header {
  margin: 1em 0;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em;
}

.listing {
  padding: 4em 0;
  margin: auto;
  max-width: 680px;
}

.listing a {
  color: inherit;
  text-decoration: none;
}

.listing-item {
  padding: 1em 0;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.listing-item:first-child {
  padding-top: 0;
}

.listing-item:last-child {
  border-bottom: 0;
}

.listing-item img {
  max-width: 170px;
}

.link-placeholder {
  width: 28em;
  height: .5em;
  background-color: #dfdfdf;
}

.description-placeholder {
  width: 28em;
  height: .5em;
  background-color: #dfdfdf;
}

.author-placeholder {
  width: 20em;
  height: .5em;
  background-color: #dfdfdf;
}

.image-placeholder {
  width: 10em;
  float: right;
  margin-left: auto;
  height: 5em;
  background-color: #dfdfdf;
}

.image-placeholder-large {
  width: 100%;
  height: 15em;
  background-color: #dfdfdf;
  margin-bottom: 1em;
}

.max-width {
  width: 100%;
}

.item-details {
  padding: 4em 0;
  margin: auto;
  max-width: 680px;
}

.item-details img {
  max-width: 100%;
}

@media (max-width: 480px) {
  .listing-item {
    flex-wrap: wrap-reverse;
  }
  .listing-item img {
    max-width: 100%;
  }
  .image-placeholder {
    float: left;
    height: 8em;
    width: 100%;
    margin-bottom: 1em;
    background-color: #dfdfdf;
  }
}

.go-back {
  cursor: pointer;
  padding: .3em;
}

.listing-info {
  text-align: center;
}

.listing-info i {
  cursor: pointer;
  margin: 1em;
}

.updated-at {
  color: gray;
}

@media (max-width: 680px) {
  .link-placeholder {
    width: 20em;
  }
  .description-placeholder {
    width: 20em;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
